{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"eslint-config-prettier",
		"prettier"
	],
	"rules": {
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"prettier/prettier": [
			"warn",
			{
				"printWidth": 80,
				"endOfLine": "auto",
				"tabWidth": 2,
				"indentStyle": "space",
				"useTabs": true,
				"arrowParens": "avoid",
				"bracketSameLine": false,
				"singleQuote": true,
				"trailingComma": "none",
				"semi": false
			}
		]
	}
}
